{% extends 'base.html' %}

{% block content %}
<table class="table table-bordered">
  <thead>
    <tr class="table-primary">
      <th scope="col">Nombre</th>
      <th scope="col">Apellido P.</th>
      <th scope="col">Apellido M.</th>
      <th scope="col">Dirección</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
  <tr>
   <td>{{ user.nombre }}</td>
   <td>{{ user.apellido_pat }}</td>
   <td>{{ user.apellido_mat }}</td>
   <td>{{ user.direccion }}</td>
  </tr>
  {% empty %}
  <tr><td colspan="4">No hay usuarios registradas</td></tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
